.page-enter {
  opacity: 0;
  transform: translateX(300px);
}

.page-enter-active {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0px);
}

.page-enter-done {
  opacity: 1;
  transition: all 1s;
}